data/*
media/images/
*__pycache__*
venv

*.pkl
*.c
build
CMakeFiles
CMakeCache.txt
CMakeLists.txt.plus
cmake_install.cmake
main_autogen/
.idea*
.remote-sync.json
nohup.out
settings.json
.vscode

!data/.gitkeep
